<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">
        <form class="example-container" [formGroup]="options">
            <!-- <form class="example-container" [formGroup]="options" (change)="canSubmit()"> -->
            <div style="text-align:center">
                <br>

                <div class="card bg-light shadow-lg " style="max-width: 100%;">
                    <div class="card-header mb-3 font-weight-bold">ลงทะเบียนอุปกรณ์</div>
                    <div class="card-body">
                        <div class="form-group text-left">
                            <label for="name">ชื่ออุปกรณ์ :</label>
                            <input type="text" id="name" name="name" placeholder="ระบุชื่ออุปกรณ์" formControlName="name" [(ngModel)]="name">
                        </div>
                        <div class="form-group text-left">
                            <label for="serial" class="text-left">Serial:</label>
                            <input type="text" id="serial" name="serial" placeholder="ระบุ serial.." formControlName="serial" [(ngModel)]="serial">
                        </div>
                        <div class="form-group text-left">
                            <label for="spec">สเปค :</label>
                            <textarea rows="5" id="spec" name="Spec" placeholder="ระบุสเปคเครื่อง" formControlName="spec" [(ngModel)]="spec"></textarea>
                        </div>
                        <div class="form-group text-left">
                            <label for="img">รูปภาพเครื่อง :&nbsp;&nbsp;</label>
                            <img [src]="imageDefault" style="width:250px;height:200px;background-color: #DCDCDC">&nbsp;&nbsp;
                            <input type="file" name="pic" accept="image/*" (change)="handleFileInput($event.target.files)">
                        </div>

                        <div class="form-group text-left">
                            <label>สถานะ : </label>
                            <mat-radio-group (change)="onSelectionChange()" formControlName="status" [(ngModel)]="checker">
                                <mat-radio-button name="available" value=true checked>ว่าง</mat-radio-button>
                                &nbsp;&nbsp;
                                <mat-radio-button name="unavailable" value=false>ไม่ว่าง</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="form-group text-left" [ngClass]="{disabledDiv: status}">
                            <label for="holder" class="text-left">ผู้ยืม :</label>
                            <input type="text" id="holder" name="holder" placeholder="ระบุชื่อผู้ยืม" formControlName="holder" [(ngModel)]="holder">
                            <label for="tel" class="text-left">เบอร์ผู้ยืม :</label>
                            <input type="text" id="tel" name="tel" placeholder="ระบุเบอร์ติดต่อ" formControlName="tel" [(ngModel)]="tel">
                        </div>

                        <div class="form-group text-right">
                            <button type="button" class="btn btn-success" (click)="onSubmit()" [ngClass]="{disabledBT: vaildatBT}">Save </button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger" (click)="resetForm()">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>