<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">
        <form class="example-container" [formGroup]="options" (change)="canSubmit()">
            <div style="text-align:center">
                <br>

                <h1>
                    Welcome to <span class="font-weight-bold" style="color:#0b98d5">MacinOdds</span>
                </h1>
                <div class="card bg-light shadow-lg " style="max-width: 100%;">
                    <div class="card-header mb-3 font-weight-bold">REGISTER DEVICE</div>
                    <div class="card-body">
                        <div class="form-group text-left">
                            <label for="name">Device's Name:</label>
                            <input type="text" id="name" name="name" placeholder="Your device name.." formControlName="name" [(ngModel)]="name">
                        </div>
                        <div class="form-group text-left">
                            <label for="serial" class="text-left">Serial:</label>
                            <input type="text" id="serial" name="serial" placeholder="Your serial.." formControlName="serial" [(ngModel)]="serial">
                        </div>
                        <div class="form-group text-left">
                            <label for="spec">Specification:</label>
                            <textarea rows="5" id="spec" name="Spec" placeholder="Your device specification.." formControlName="spec" [(ngModel)]="spec"></textarea>
                        </div>
                        <div class="form-group text-left">
                            <label for="img">Image:&nbsp;&nbsp;</label>
                            <img [src]="imageDefault" style="width:250px;height:200px">
                            <input type="file" name="pic" accept="image/*" (change)="handleFileInput($event.target.files)">
                        </div>
                        <div class="form-group text-left">
                            <label>Status: </label>
                            <mat-radio-group (change)="onSelectionChange()" formControlName="status" [(ngModel)]="checker">
                                <mat-radio-button name="available" value=true checked>Available</mat-radio-button>
                                <mat-radio-button name="unavailable" value=false #unavailable>Unavailable</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="form-group text-left" [ngClass]="{disabledDiv: status}">
                            <label for="holder" class="text-left">Holder:</label>
                            <input type="text" id="holder" name="holder" placeholder="Your name.." formControlName="holder" [(ngModel)]="holder">
                        </div>

                        <div class="form-group text-right">
                            <button type="button" class="btn btn-success" (click)="onSubmit()" [ngClass]="{disabledBT: !vaildatBT}">Save </button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger" (click)="resetFrom()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>