<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="container">
    <div style="text-align:center">
      <br>
      <div class="card bg-light shadow-lg " style="max-width: 100%;">
        <div class="card-header mb-3 font-weight-bold">REGISTER DEVICE</div>
        <div class="card-body">
          <div class="form-group text-left">
            <label for="name">Device's Name:</label>
            <input type="text" id="name" name="name" placeholder="Your device name.." [(ngModel)]="inName">
          </div>
          <div class="form-group text-left">
            <label for="serial" class="text-left">Serial:</label>
            <input type="text" id="serial" name="Serial" placeholder="Your serial.." [(ngModel)]="inSerial">
          </div>
          <div class="form-group text-left">
            <label for="spec">Specification:</label>
            <textarea rows="5" id="spec" name="Spec" placeholder="Your device specification.."
              [(ngModel)]="inSpec"></textarea>
          </div>
          <div class="form-group text-left">
            <label for="img">Image:&nbsp;&nbsp;</label>
            <!-- <input type="file" name="pic" accept="image/*" [(ngModel)]="inImage">   -->
            <input type="file" name="pic" accept="image/*" >
          </div>
          <div class="form-group text-left">
            <label for="img">Status:&nbsp;&nbsp;</label>
            <input type="radio" name="status" value="Available" > <span>&nbsp;&nbsp;Availabl
            </span> &nbsp;
            <input type="radio" name="status" value="Unavailabl" [(ngModel)]="inStatus" > <span>&nbsp;&nbsp;Unavailabl </span>
          </div>


          <div class="form-group text-left">
            <label for="holder" class="text-left">Holder:</label>
            <input type="text" id="holder" name="Holder" placeholder="Your name.." [(ngModel)]="inHolder">
          </div>

          <div class="form-group text-right">
            <button type="button" class="btn btn-success" (click)="onSubmit()">Save </button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>