<div class="container">
    <div class="panel-heading">
        <h3 class="panel-title">History</h3>
    </div>
    <div class="panel panel-primary table-responsive">
        <table class="table ">
            <thead>
                <tr class="table-head"  >
                    <th class="text-nowrap text-center" scope="col">วัน</th>
                    <th *ngIf="role" class="text-nowrap text-center" scope="col">ผู้ใช้</th>
                    <th class="text-nowrap text-center" scope="col">กิจกรรม</th>
                    <th class="text-nowrap text-center" scope="col">เครื่อง Mac</th>
                    <th class="text-nowrap text-center" scope="col">วันคืน</th>
                    <th class="text-nowrap text-center" scope="col">เกี่ยวกับ</th>
                    <th class="text-nowrap text-center" scope="col">สถานที่คืน</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of results">
                    <td class="text-nowrap text-center">{{result.date| date:'dd/MM/yyyy'}}</td>
                    <td *ngIf="role" class="text-nowrap">{{result.userName}}</td>
                    <td class="text-nowrap text-center">{{result.activity}}</td>
                    <td class="text-nowrap text-center">{{result.macName}}</td>
                    <td class="text-nowrap text-center w-20">{{result.returnDate| date:'dd/MM/yyyy'}}</td>
                    <td class="td-memo">{{result.memo}}</td>
                    <td class="text-nowrap text-center">{{result.location}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>