<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">History</h3>

            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th>วัน</th>
                        <th>ผู้ใช้</th>
                        <th>กิจกรรม</th>
                        <th>เครื่อง Mac</th>
                        <th>วันคืน</th>
                        <th>เกี่ยวกับ</th>
                        <th>สถานที่คืน</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="list-table" *ngFor="let result of results">
                        <td>{{result.date}}</td>
                        <td>{{result.userID}}</td>
                        <td>{{result.activity}}</td>
                        <td>{{result.macID}}</td>
                        <td>{{result.returnedDate}}</td>
                        <td>{{result.memo}}</td>
                        <td>{{result.location}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>