<app-menu-view-user></app-menu-view-user>

<div class="container">
    <div style="text-align:center">
        <br>
        <ul class="list-group">
                <li class="card shadow-lg bg-light my-3 size-card" *ngFor="let result of results">
                    <div class="row mx-0 my-6">
                        <div class="col-lg-3 px-0">
                            <img class="img-device img-rounded-left" src="http://139.5.146.213/assets/imgs/devices/{{ result.img }}">
                        </div>

                        <div class="col-lg-8 text-left pl-4 pl-lg-5 pt-lg-4 py-3">
                            <span class="font-weight-bold head-content-card">{{ result.name }} </span><br/>
                            <span class="font-weight-bold title-content-card "> Serial </span> {{ result.serial }}
                            <br />
                            <span class="font-weight-bold title-content-card ">สเปค </span> {{ result.spec }} <br/>
                            <span class="font-weight-bold title-content-card">สถานะ
                                <span class="status-true-card" *ngIf=" result.status ; else show">ว่าง</span>
                                <ng-template #show>
                                <span class="status-false-card">ไม่ว่าง</span>
                                </ng-template><br/>
                            </span>

                            <span *ngIf="!result.status" class="font-weight-bold title-content-card ">ผู้ยืม </span>
                            {{ result.holder }} <br/>
                            <span *ngIf="!result.status" class="font-weight-bold title-content-card ">เบอร์ผู้ยืม
                            </span> {{ result.tel }}
                        </div>

                        


                    </div>
                </li>
            </ul>
    </div>

</div>