.sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  }
  .sidenav {
  width: 250px;
  background-color: #f3f2f2;
  color:#ffffff;
  }
  .sidenav .mat-toolbar {
  height: 70px;
  background-color: white;
  color:#ffffff;
  }
  .mat-toolbar.mat-primary {
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  }
  .body {
    background-color: #f9f8f8;
  }
  h4 {
    color: black;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }