body {
    background-color: #fafafa;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.btn-go {
    margin: 10px
}


/* .modal-content {
    width: 700px;
}
.modal .card{
    width: 680px;
} */