body {
    background-color: #fafafa;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.btn-go {
    margin: 10px
}

.btn-edit {
    background-color: #0E98D5;
}

.btn-delete {
    color: #fafafa;
    background-color: #212121;
}


/* .modal-content {
    width: 700px;
}
.modal .card{
    width: 680px;
} */