<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div>
        <div style="text-align:center">
            <ul class="list-group">
                <li *ngFor="let result of results">
                    <div class="card shadow-lg my-3 size-card">
                        <div class="card-body p-0">
                            <div class="row mx-0 my-6">
                                <div class="col-lg-3 px-0">
                                    <img class="img-device" src="http://139.5.146.213/assets/imgs/devices/{{ result.img }}">
                                </div>
                                <div class="col-lg-6 text-left pl-4 pl-lg-5 pt-lg-4 py-3">
                                    <span class="font-weight-bold head-content-card">{{ result.name }} </span><br />
                                    <span class="font-weight-bold title-content-card "> Serial </span>
                                    {{ result.serial }}
                                    <br />
                                    <span class="font-weight-bold title-content-card ">สเปค </span> {{ result.spec }}
                                    <br />
                                    <span class="font-weight-bold title-content-card">สถานะ
                                        <span class="status-true-card" *ngIf=" result.status ; else show">ว่าง</span>
                                        <ng-template #show>
                                            <span class="status-false-card">ไม่ว่าง</span>
                                        </ng-template><br />
                                    </span>

                                    <span *ngIf="!result.status" class="font-weight-bold title-content-card ">ผู้ยืม
                                    </span>
                                    {{ result.holder }} <br />
                                    <span *ngIf="!result.status"
                                        class="font-weight-bold title-content-card ">เบอร์ผู้ยืม
                                    </span> {{ result.tel }}
                                </div>

                                <div class="col-lg-3 px-0 my-auto">
                                    <div class="col-10 col-lg-8 px-0 mx-auto">
                                        <button class="btn btn-sm btn-info btn-block my-2 font-weight-bold btn-edit"
                                            routerLink="/admin/app/edit-admin"
                                            (click)="editDevice(result._id , result.serial)" data-toggle="modal"
                                            data-target="#editDevice">
                                            <i class="fa fa-edit mr-1" data-toggle="modal">
                                            </i>Edit
                                        </button>
                                    </div>
                                    <div class="col-10 col-lg-8 px-0 mx-auto">
                                        <button class="btn btn-sm btn-dark btn-block my-2 font-weight-bold"
                                            (click)="deleteDevice(result._id , result.serial)">
                                            <i class="fa fa-trash mr-1"> </i>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>








        </div>
        <!-- style -->
    </div>

</body>