<div class="wrapper">
    <div class="col-lg-4 col-md-6 mx-auto mw-500">
        <div class="text-center">
            <img class="logo" src="../../assets/imgs/mac_odds_logo_color.png" />
        </div>

        <div class="d-flex my-3 justify-content-center">

            <p>Welcome to <b>mac.odds.team</b><br>Please login with email <i>@odds.team</i><br>to use the platform</p>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="form-group text-center col-10">

                <button type="button" id="btn-user" class="btn-user btn btn-sm btn-info col-10 mb-2" [routerLink]="['/user/app/menu-view-user']" (click)="getUser()"  >
                    User
                </button>
                <button type="button" id="btn-admin" class="btn-admin btn btn-sm btn-dark col-10 mb-2" [routerLink]="['/admin/app/menu-view-admin']" (click)="getUser()">
                    Admin
                </button>
                <button type="button" id="btn-goolelogin" class="btn-admin btn btn-sm btn-dark col-10 mb-2" (click)="oddsSignIn()">
                    <img class="btn-icon pb-1" src="../../assets/imgs/mac_odds_icon.ico" alt="btn_icon">  Sign in with Odds team account
                </button>
            </div>
        </div>
    </div>
</div>