<div class="container">
    <div style="text-align:center">
        <br>
        <ul class="list-group">
            <li class="card shadow-lg bg-light my-3 size-card" *ngFor="let result of results let i = index">
                <div class="row mx-0 my-6" id="id-card-{{i}}">
                    <div class="col-lg-3 px-0 ">
                        <img class="img-device img-rounded-left " id="img-{{i}}"
                            src="http://139.5.146.213/assets/imgs/devices/{{ result.img }}">
                    </div>

                    <!-- <div class="col-lg-3 px-0 thumbnail-res"  *ngIf="isHandset$ | async">
                            <img class="img-device img-rounded-left portrait " src="http://139.5.146.213/assets/imgs/devices/{{ result.img }}">
                        </div> -->

                    <div class="col-lg-8 text-left pl-4 pl-lg-5 pt-lg-2 py-2">
                        <span class="font-weight-bold head-content-card" id="name-{{i}}">{{ result.name }} </span><br />
                        <span class="font-weight-bold title-content-card "> Serial </span> <span
                            id="serial-{{i}}">{{ result.serial }}</span>
                        <br />
                        <span class="font-weight-bold title-content-card ">สเปค </span> <span
                            id="spec-{{i}}">{{ result.spec }}</span> <br />
                        <span class="font-weight-bold title-content-card" id="status-all-{{i}}">สถานะ
                            <span class="status-true-card" id="status-av-{{i}}"
                                *ngIf=" result.status ; else show">ว่าง</span>
                            <ng-template #show>
                                <span class="status-false-card" id="status-uv-{{i}}">ไม่ว่าง</span>
                            </ng-template><br />
                        </span>

                        <span *ngIf="!result.status" class="font-weight-bold title-content-card ">ผู้ยืม </span>
                        <span id="holder-{{i}}">{{ result.holder }} </span><br />
                        <span *ngIf="!result.status" class="font-weight-bold title-content-card ">เบอร์ผู้ยืม
                        </span> <span id="tel-{{i}}">{{ result.tel }}</span>
                    </div>



                </div>
            </li>
        </ul>
    </div>


</div>