<mat-card class="card">
    <p class="head-card font-weight-bold">{{CardHeaderLabel}}</p>
    <div style="margin-bottom: 25px;"></div>
    <div class="font-style font-weight-bold" [formGroup]="addDeviceForm">
        <p>ชื่ออุปกรณ์</p>
        <mat-form-field [floatLabel]="'never'" class="full">
            <input  class="full" formControlName="nameDevice" matInput id="name"
                placeholder="เช่น Macbook Pro 2017 13" [(ngModel)]="data.name" (ngModelChange)="validatorName()"
                required>
        </mat-form-field>
        <p>serial</p>
        <mat-form-field [floatLabel]="'never'" class="full">
            <input  class="full" formControlName="serial" matInput id="serial"
                placeholder="ระบุ serial เช่น W88401231AX" [(ngModel)]="data.serial" (ngModelChange)="validatorSerial()"
                required>
        </mat-form-field>
        <p>สเปคเครื่อง</p>
        <mat-form-field [floatLabel]="'never'" class="full">
            <input  class="full" matInput formControlName="spec" id="spec"
                placeholder="ระบุสเปคเครื่อง เช่น Intel i5 2.3 GHz Memory 8 Gb 13 inch" [(ngModel)]="data.spec"
                (ngModelChange)="validatorSpec()" required>
        </mat-form-field>

        <p>ที่อยู่ของอุปกรณ์</p>
        <mat-form-field [floatLabel]="'never'" class="full">
            <input matInput  formControlName="location" id="location"
                placeholder=" เช่น The Street" required >
        </mat-form-field>


        <p>รูปภาพเครื่อง</p>
        <div class="form-group text-left row">
            <div class="col-7 col-lg-3 col-md-5 file-field">
                <div style="margin: 7px 0;">
                    <label (click)="_fileInput.click()" class="py-0 px-0 my-0">
                        <img id="img-show-upload" class="upload-image rounded center-cropped" [src]="imageDefault">
                    </label>
                </div>
            </div>
        </div>


        <div class="d-flex flex-row">
            <button id="btn-upload-file" mat-flat-button (click)="_fileInput.click()"
                style="background-color: #212121;color:white">Upload
                Image</button>
            <div *ngIf="!isHandset">
                <p style="margin-top: 7px; margin-left: 7px; text-align: center;">{{fileName}}</p>
            </div>

        </div>
        <div style="margin-top: 25px;">

            <div class="btn-gruop">
                <button [disabled]="!addDeviceForm.valid || !vaildatBT" type="submit" class="btn" mat-flat-button
                    id="saveBt" style="background-color: #0E98D5;color:white;" (click)="onSubmit()">Save</button>
                <button class="btn btn-default-black" (click)="_fileInput.value = ''" mat-flat-button id="cancelBt"
                    (click)="cancel()">{{btnLabel}}</button>
            </div>
        </div>

        <button id="openUploadModal" [hidden]="true" data-toggle="modal" data-target="#uploadModal">Open Modal</button>
    </div>
</mat-card>


<!-- Form -->


<div class="modal" id="uploadModal" role="dialog" tabindex="1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div [className]="classes.actions" class="row">
                <span [className]="classes.flex"></span>
                <input id="button-select-crop" #_fileInput type="file"
                    (change)="cropping.selectInputEvent($event) || openUploadModal($event)" accept="image/*" hidden>
            </div>
            <div *ngIf="cropping.isLoaded" class="container">
                <mat-grid-list cols="1" rowHeight="50px">
                    <mat-grid-tile>
                        <button (click)="cropping.zoomIn()" class="grap-btn" ly-button appearance="icon">
                            <ly-icon>zoom_in</ly-icon>
                        </button>
                        <button (click)="cropping.zoomOut()" class="grap-btn" ly-button appearance="icon">
                            <ly-icon>zoom_out</ly-icon>
                        </button>
                        <button (click)="cropping.center()" class="grap-btn" ly-button appearance="icon">
                            <ly-icon>filter_center_focus</ly-icon>
                        </button>
                        <button (click)="cropping.rotate(-90)" class="grap-btn" ly-button appearance="icon">
                            <ly-icon>rotate_90_degrees_ccw</ly-icon>
                        </button>
                        <button (click)="cropping.fitToScreen()" class="grap-btn" id="fitScreen" ly-button>Fit</button>
                        <button *ngIf="!isHandset" class="grap-btn" (click)="cropping.clean()" ly-button>Clean</button>
                    </mat-grid-tile>

                </mat-grid-list>


            </div>
            <ly-img-cropper [withClass]="classes.cropping" #cropping [config]="myConfig" (cropped)="onCropped($event)">
                <span>Drag and drop image</span>
            </ly-img-cropper>

            <button id="button-cropping" *ngIf="cropping.isLoaded" color="#212121"
                (click)="cropping.crop() || cropping.setScale(0)" ly-button data-dismiss="modal">
                <ly-icon>crop</ly-icon>crop
            </button>
        </div>
    </div>
</div>