<div>

    <div class="container">
        <br>
        <ul class="list-group">
            <app-my-card class="mb-3"></app-my-card>
            <h5 class="margin-header">All Device ({{results.length}})</h5>
            <li class="card shadow-lg bg-light mb-3 size-card" *ngFor="let result of results ; let i = index">
                <div class="row justify-content-md-center mx-0 my-6" id="id-card-{{i}}">
                    <div class="col-lg-3 px-0 ">
                        <img class="img-device img-rounded-left " id="img-{{i}}" src="https://mac.odds.team/assets/imgs/devices/{{ result.img }}">
                    </div>

                    <div class="col-lg-6 text-left pl-4 pl-lg-5 pt-lg-4 py-3">
                        <span class="font-weight-bold head-content-card" id="name" id="name-{{i}}">{{ result.name }}
                        </span>
                        <img *ngIf="!result.borrowing" class="icon" src="/assets/imgs/available.ico" alt="icon" id="status-av-{{i}}">
                        <img *ngIf="result.borrowing" class="icon" src="/assets/imgs/unavailable.ico" alt="icon" id="status-uv">
                        <br />
                        <span class="font-weight-bold title-content-card "> Serial </span> <span id="serial-{{i}}">{{ result.serial }}</span>
                        <br />
                        <span class="font-weight-bold title-content-card ">สเปค </span> <span id="spec-{{i}}">
                            {{ result.spec }}</span> <br />
                        <div *ngIf="!result.borrowing"><span class="font-weight-bold title-content-card">สถานที่ </span>
                            <span id="borrower-{{i}}"> {{ result.location }}</span> <br />
                        </div>
                        <div *ngIf="result.borrowing"><span class="font-weight-bold title-content-card ">ผู้ยืม </span>
                            <span id="borrower-{{i}}"> {{ result.uname }} ({{ result.slack }})</span> <br />
                        </div>
                        <div *ngIf="result.borrowing"><span class="font-weight-bold title-content-card ">โทร </span>
                            <span id="borrower-{{i}}"> {{ result.tel }}</span> <br />
                        </div>
                        <div *ngIf="result.borrowing"><span class="font-weight-bold title-content-card ">กำหนดคืน
                            </span>
                            <span id="borrower-{{i}}"> {{result.returnDate| date:'dd/MM/yyyy'}}</span> <br />
                        </div>
                    </div>

                    <div class="col-lg-3 px-0 my-auto" [hidden]=btnRole>
                        <div class="col-10 col-lg-8 px-0 mx-auto">
                            <button class="btn btn-sm btn-info btn-block my-2 font-weight-bold btn-edit" routerLink="/admin/edit" (click)="editDevice(result._id)" data-toggle="modal" data-target="#editDevice" id="btn-edit-{{i}}">
                                <i class="fa fa-edit mr-1" data-toggle="modal">
                                </i>Edit
                            </button>
                        </div>
                        <div class="col-10 col-lg-8 px-0 mx-auto" [hidden]=btnRole>
                            <button class="btn btn-sm btn-dark btn-block my-2 font-weight-bold" *ngIf="!result.borrowing" (click)="deleteDevice(result._id , result.serial)" id="btn-delete-{{i}}">
                                <i class="fa fa-trash mr-1"> </i>
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 px-0 my-auto" [hidden]=!btnRole>
                        <div class="col-10 col-lg-8 px-0 mx-auto" *ngIf="!cantBorrow" [hidden]=result.borrowing>
                            <button class="btn btn-sm btn-info btn-block my-2 font-weight-bold btn-edit waves-light" data-toggle="modal" data-target="#BorrowForm" id="btn-borrow-{{i}}" (click)="borrowDevice(result._id)">
                                <i class="fas fa-laptop mr-1" data-toggle="modal">
                                </i>Borrow
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Modal Borrow -->
<div class="modal fade" id="BorrowForm" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="container">

                <div class="modal-header">
                    <h4 class="modal-title">เลือกวันที่ต้องการคืน </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body ">
                    <mat-form-field class="example-full-width calender">
                        <input matInput [min]="dateNow" [max]="maxDate" [matDatepicker]="picker" (dateInput)="check($event)" placeholder="Choose a date" [(ngModel)]="returnDate" id="date-picker">

                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker color="red"></mat-datepicker>
                    </mat-form-field>

                    <button type="submit" class="btn btn-success waves-light float-sm-right ml-4 mt-2" (click)="onSubmitBorrow()" [disabled]="!btnValid" id="Btn-submit">
                        Submit
                    </button>

                </div>

            </div>
        </div>
    </div>
</div>