/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop.show {
    opacity: 0.5;
    z-index: -5 !important;
}

@media only screen and (min-width : 414px) and (max-width : 736px) {
    .sidenav li a {
      float: left;
      padding: 15px;
      display: block;
    }
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
  }
     
  
     @media screen and (max-width: 900px) {
      .sidenav li a {
        float: left;
        padding: 15px;
        display: block;
      }
        .sidebar {
          width: 100%;
          height: auto;
          position: relative;
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
      
    }